<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Taller Web I</title>

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<nav class="bg-gray-800 p-4 text-white fixed top-0 w-full">
    <div class="container mx-auto">
        <a class="text-lg font-bold" href="#">Taller Integrador</a>
    </div>
</nav>
<div class="w-full max-w-md bg-white p-8 shadow-lg rounded-lg">
    <h3 class="text-2xl font-bold text-center text-gray-800">Taller Web I</h3>
    <hr class="my-4 border-gray-300">

    <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}" class="space-y-4">
        <input th:field="*{email}" id="email" type="email" class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Correo electrónico" required/>

        <input th:field="*{password}" type="password" id="password" class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Contraseña" required/>

        <button id="btn-login" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200" type="submit">Login</button>

        <p th:if="${error != null}" class="text-red-500 text-center" th:text="'Error: ' + ${error}"></p>
    </form>

    <div class="text-center mt-4">
        <a id="ir-a-registrarme" href="nuevo-usuario" class="text-blue-500 hover:underline">Registrarme</a>
    </div>
</div>

</body>
</html>